
.container{
  width: 100%;

}.container1{
   width: 100%;
   max-width: 500px; 
}

.card1{
    border-radius: 20px;
    padding: 30px;
  border: 2px solid black;
     background-color: black;
   color: white;
   margin-left: 40px;
   margin-top: 30px;
margin-right: 60px;

 
}
.box1 p{
  font-size: 20px;

  color: black;
  margin-right: 100px;
  font-weight: bold;
}

.card1::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  border-left: 25px solid transparent;
   border-top: 20px solid transparent;
  border-right: 25px solid black;
  left: 290px;
bottom: 545px;
transform: rotate(50deg);

}


.profile3{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.left3 img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: -60px;
  margin-left: 60px;
}
.container2{
  width: 100%;
  padding-left: 500px;
  max-width: 400px;
  margin-bottom: 50px;
  margin-top: -300px;
  height: 30%;
}
.card3 p1{
  text-align: left;
  font-size: 30px;
margin-bottom: 20px;
font-weight: 15px;
}


.card3 p2{
  text-align: left;
  font-size: 20px;
margin-bottom: 20px;
color: grey;
}
.card3 p{
  text-align: left;
  font-size: 20px;
margin-bottom: 20px;
}
.profile{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.left img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: -60px;
  margin-left: -25px;
}
.name{
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  color: black;
  margin-right: 100px;
}

.role{
  margin-top: -10px;
  color: black;
    margin-right: 30px;
    margin-top: 5px;
}
.card2{

   border-radius: 20px;
    padding: 30px;
  border: 2px solid black;
   border-radius: 20px;
     background-color: white;
   margin-left: -20px;
   margin-top: 30px;
   
}
.card2 p5{
  color: black;
}
.container3{
  width: 100%;
  padding-left: 400px;
  max-width: 800px;
  margin-bottom: 50px;

}
.profile2 img{
  width: 370px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
 margin-left: 60px;
}
.card3{
   width: 400px;
   height: 250px;
   border-radius: 20px;
   padding: 30px;
   border: 2px solid black;
   background-color: black;
   color: white;
   margin-left: 40px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
      margin-top: -300px;
}
.card4{
   height: 100px;
   border-radius: 20px;
    padding: 60px;
  border: 2px solid black;
   border-radius: 20px;
     background-color: white;
   margin-left: 40px;
   margin-top: 30px;
   margin-right: 50px;
}
.profile2{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

/* BOTTOM CARD */
.card6{
  border: 2px solid black;
  border-radius: 25px;
  padding: 40px;
  text-align: center;
  background: white;
  margin-left: 50px;
  margin-right: 70px;
}

.card4 p{
  font-size: 24px;
  line-height: 1.6;
}

.bottom-profile{
  margin-top: 30px;
}

.bottom-profile img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.stars{
  margin-right: 270px;
  margin-bottom: 10px;
}